.page-container {
  margin: 15px;

  .json-editor-container {
    width: 50%;
  }

  .top-bar {

  }
}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor > div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: 500px;
}

:host ::ng-deep .jsoneditor-menu {
  background-color: #4050b5;
  border-bottom: 1px solid #4050b5;
}
