<div class="page-container">

    <div class="top-bar u-margin-top-10 u-margin-bottom-10">
        <button class="u-margin-right-10"
                mat-raised-button color="primary" (click)="save()">

            <mat-icon>arrow_back_ios</mat-icon>
            Back
        </button>

        <button class="u-margin-right-10"
                mat-raised-button color="primary" (click)="save()">

            <mat-icon>save</mat-icon>
            Save
        </button>
    </div>

    <div class="u-flex-column u-flex-align-end" style="width: 50%">
        <div class="top-bar u-margin-top-20 u-margin-bottom-10" >
            <button class="u-margin-right-10"
                    mat-raised-button color="primary" (click)="addId()">Set ID
            </button>
            <button class="u-margin-right-10"
                    mat-raised-button color="primary" (click)="addValue()">Add Value
            </button>
        </div>
        <div *ngIf="!isLoading; else loadingSpinner"
             class="json-editor-container">
            <json-editor [options]="editorOptions"
                         [data]="data"
                         (change)="jsonChanged($event)">
            </json-editor>
        </div>
    </div>
</div>


<ng-template #loadingSpinner>
    <div class="u-margin-20">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
