<div class="home-container">
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile colspan="1">
            <mat-form-field appearance="outline" style="width: 50%">
                <mat-label>Search Config</mat-label>
                <input matInput [(ngModel)]="searchValue" (ngModelChange)="filterConfigs()">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <button mat-raised-button color="primary" (click)="routeTo('new-config')">New Config</button>
        </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list *ngIf="filteredConfigContainer && filteredConfigContainer.length > 0;"
                   cols="2" rowHeight="100px">
        <mat-grid-tile *ngFor="let configContainer of filteredConfigContainer"
                       colspan="1">
            <mat-card class="config-card"> {{ configContainer.configId }}</mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <div *ngIf="isLoading"
         class="u-width-100 u-flex-center">
        <ng-container [ngTemplateOutlet]="loadingSpinner"></ng-container>
    </div>

    <div *ngIf="isError" class="u-flex-center u-flex-align-center u-margin-top-10">
        <h2>
            Error loading configs
        </h2>
    </div>

    <div *ngIf="filteredConfigContainer && filteredConfigContainer.length <= 0 && !isLoading && !isError"
         class="u-flex-center u-flex-align-center u-margin-top-10">
        <h2>
            <h2>No configs found</h2>
        </h2>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="u-margin-20">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
