
/*
 * MARGINGS
 */

.u-margin-0 {
  margin: 0px !important;
}

.u-margin-2 {
  margin: 2px !important;
}

.u-margin-5 {
  margin: 5px !important;
}

.u-margin-10 {
  margin: 10px !important;
}

.u-margin-15 {
  margin: 15px !important;
}

.u-margin-20 {
  margin: 20px !important;
}

.u-margin-top-2 {
  margin-top: 2px !important;
}

.u-margin-top-4 {
  margin-top: 4px !important;
}

.u-margin-top-5 {
  margin-top: 5px !important;
}

.u-margin-top-8 {
  margin-top: 8px !important;
}

.u-margin-top-10 {
  margin-top: 10px !important;
}

.u-margin-top-12 {
  margin-top: 12px !important;
}

.u-margin-top-15 {
  margin-top: 15px !important;
}

.u-margin-top-16 {
  margin-top: 16px !important;
}

.u-margin-top-20 {
  margin-top: 20px !important;
}

.u-margin-top-25 {
  margin-top: 25px !important;
}

.u-margin-top-28 {
  margin-top: 28px !important;
}

.u-margin-top-30 {
  margin-top: 30px !important;
}

.u-margin-top-35 {
  margin-top: 35px !important;
}

.u-margin-top-38 {
  margin-top: 35px !important;
}

.u-margin-top-40 {
  margin-top: 40px !important;
}

.u-margin-top-50 {
  margin-top: 50px !important;
}

.u-margin-top-60 {
  margin-top: 60px !important;
}

.u-margin-top-70 {
  margin-top: 70px !important;
}

.u-margin-top-100 {
  margin-top: 100px !important;
}

.u-margin-top-110 {
  margin-top: 110px !important;
}

.u-margin-top-140 {
  margin-top: 140px !important;
}

.u-margin-bottom-2 {
  margin-bottom: 2px !important;
}

.u-margin-bottom-4 {
  margin-bottom: 4px !important;
}

.u-margin-bottom-5 {
  margin-bottom: 5px !important;
}

.u-margin-bottom-8 {
  margin-bottom: 8px !important;
}

.u-margin-bottom-10 {
  margin-bottom: 10px !important;
}

.u-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.u-margin-bottom-16 {
  margin-bottom: 16px !important;
}

.u-margin-bottom-18 {
  margin-bottom: 18px !important;
}

.u-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.u-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.u-margin-bottom-50 {
  margin-bottom: 50px !important;
}

.u-margin-bottom-100 {
  margin-bottom: 100px !important;
}

.u-margin-bottom-300 {
  margin-bottom: 300px !important;
}

.u-margin-bottom-800 {
  margin-bottom: 800px !important;
}

.u-margin-bottom-1000 {
  margin-bottom: 1000px !important;
}

.u-margin-bottom-15 {
  margin-bottom: 15px !important;
}

.u-margin-right-1 {
  margin-right: 1px !important;
}

.u-margin-right-2 {
  margin-right: 2px !important;
}

.u-margin-left-minus-2 {
  margin-left: -2px !important;
}

.u-margin-right-5 {
  margin-right: 5px !important;
}

.u-margin-right-minus-5 {
  margin-right: -5px !important;
}

.u-margin-right-8 {
  margin-right: 8px !important;
}

.u-margin-right-10 {
  margin-right: 10px !important;
}

.u-margin-right-15 {
  margin-right: 15px !important;
}

.u-margin-right-20 {
  margin-right: 20px !important;
}

.u-margin-right-25 {
  margin-right: 25px !important;
}

.u-margin-right-30 {
  margin-right: 30px !important;
}

.u-margin-right-35 {
  margin-right: 35px !important;
}

.u-margin-right-45 {
  margin-right: 45px !important;
}

.u-margin-right-150 {
  margin-right: 150px !important;
}


.u-margin-left-5 {
  margin-left: 5px !important;
}

.u-margin-left-10 {
  margin-left: 10px !important;
}

.u-margin-left-15 {
  margin-left: 15px !important;
}

.u-margin-left-20 {
  margin-left: 25px !important;
}

.u-margin-left-24 {
  margin-left: 24px !important;
}

.u-margin-left-25 {
  margin-left: 25px !important;
}

.u-margin-left-28 {
  margin-left: 28px !important;
}

.u-margin-left-30 {
  margin-left: 30px !important;
}

.u-margin-left-35 {
  margin-left: 35px !important;
}

.u-margin-left-38 {
  margin-left: 38px !important;
}
.u-margin-left-40 {
  margin-left: 40px !important;
}

.u-margin-left-50 {
  margin-left: 50px !important;
}

.u-margin-left-200 {
  margin-left: 200px !important;
}

.u-margin-left-400 {
  margin-left: 400px !important;
}


/*
 * PADDINGS
 */

.u-padding-0 {
  padding: 0px !important;
}

.u-padding-5 {
  padding: 5px !important;
}

.u-padding-10 {
  padding: 10px !important;
}

.u-padding-20 {
  padding: 20px !important;
}

.u-padding-right-20 {
  padding-right: 20px;
}

.u-padding-right-310 {
  padding-right: 310px;
}

.u-padding-left-25 {
  padding-left: 25px;
}

.u-padding-left-40 {
  padding-left: 40px;
}

.u-padding-left-50 {
  padding-left: 50px;
}

.u-padding-left-80 {
  padding-left: 80px;
}

.u-padding-left-100 {
  padding-left: 100px;
}

.u-padding-left-200 {
  padding-left: 200px !important;
}

.u-padding-left-320 {
  padding-left: 320px !important;
}
