<div class="u-flex-center-column">
    <h2>Add {{ fieldName }}</h2>
    <mat-form-field appearance="outline">
        <mat-label>Path</mat-label>
        <input matInput [(ngModel)]="inputData.path">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="inputData.value">
    </mat-form-field>

    <div class="u-flex-space-between u-width-100">
        <button mat-raised-button color="secondary" (click)="closeDialog()"> Cancel </button>
        <button mat-raised-button color="primary" (click)="closeDialog(inputData)"> Add </button>
    </div>
</div>
